.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    outline: 2px solid var(--secondary);
    outline-offset: 8px;
    border-top: 1px solid var(--primary);
}

.footer__copyrights {
    width: 100%;
    padding: 1rem;
    font-size: var(--fontSize-fluid-sub-sub-heading);
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-white-500);
    letter-spacing: var(--letterSpacing-widest);
    text-align: center;
}

.footer__copyrights > span {
    font-size: 20px;
}