.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.25rem 2rem;
}

.footer__socials {
    width: 100%;
    max-width: var(--size-96);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 2rem 0.5rem 2rem;
    padding: 1rem;
    font-size: 30px;
    border: 1px solid var(--primary);
    border-radius: var(--radii-md);
    outline: 2px solid var(--secondary);
    outline-offset: -7px;
}

.footer__copyrights {
    width: 100%;
    font-size: var(--fontSize-fluid-sm);
    font-weight: 300;
    color: var(--color-white-400);
    text-align: center;
}