.about__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.about__container {
    width: 100%;
    max-width: 60rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.about__content {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__text {
    width: 100%;
    max-width: 42rem;
    height: inherit;
    padding: 1.4rem;
}

.about__text-section {
    font-size: var(--font-size-sm);
    text-indent: 1.4em;
}

.about__text-section-hidden {
    display: none;
}

.about__text p:not(:first-child) {
    margin-top: 2rem;
}

@media (hover: hover) {
    .about__button:hover {
        color: rgba(255, 255, 255, 1);
    }
}