.loading-screen {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
}

.loading-screen__content {
    display: flex;
}

.loading-screen__content h1 {
    font-size: var(--heading-size);
    font-weight: 300;
}

.loading-screen__content p {
    margin-left: 0.1em;
    font-size: var(--heading-size);
    font-weight: 500;
}