.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main__section {
    margin-top: 16rem;
}

.main__section:last-child {
    margin-bottom: 16rem;
}

.main__section hr {
    min-width: 2rem;
    height: 1px;
    flex-grow: 1;
    flex-basis: 0;
    background-color: var(--border-color);
    border: none;
}

.main__section-title-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.main__section-title-container h2 {
    padding: 0 0.8em;
    font-size: 22px;
    line-height: 1;
    word-break: keep-all;
    text-shadow: var(--text-shadow);
}

.main__section-description-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.main__section-description-container p {
    padding: 0 1em;
    line-height: 1;
    color: var(--color-white-700);
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    text-align: justify;
}

.main__section-paragraph-container {
    padding: 0 2rem;
}

.main__section-paragraph-container p {
    margin-bottom: 1rem;
    line-height: 1.6;
    text-indent: 1rem;
}

.main__section-paragraph-container p:last-child {
    margin-bottom: 0;
}