.project-card {
    width: 100%;
    display: flex;
    justify-content: center;
}

.project-card__content-container {
    width: 100%;
    max-width: var(--size-container-2xs);
    padding: 2rem;
    border: 1px solid var(--border-color);
}

.project-card__top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.project-card__top-container > svg {
    margin-left: -6px;
    font-size: 3.4rem;
}

.project-card__links-container {
    width: 4rem;
    display: flex;
    justify-content: space-between;
}