.project-card {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    outline: 1px solid var(--border-color);
    outline-offset: 4px;
    list-style: none;
}

.project-card__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    padding: 2rem 1.75rem;
}

.project-card__inner header {
    min-height: 14rem;
}

.project-card__top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.project-card__top > svg {
    font-size: 3rem;
}

.project-card__links {
    display: flex;
}

.project-card__link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.4rem;
    padding: 0.4rem;
    transition: all var(--transi-duration-normal);
    color: var(--color-white-700);
}

@media (hover: hover) {
    .project-card__link:hover {
        color: white;
    }
}

.project-card__title {
    margin-bottom: 0.8rem;
    font-size: 24px;
}

.project-card__description {
    color: var(--color-white-700);
}

.project-card__inner footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.project-card__inner footer > p {
    font-size: 15px;
    color: var(--color-white-600);
}