.navbar {
    width: 100%;
    height: var(--size-16);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    box-shadow: var(--shadow-md);
}

.navbar__container {
    width: 100%;
    max-width: var(--size-container-xs);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}