.navbar {
    width: 100%;
    position: absolute;
    top: 0;
}

.navbar__links-container {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 0;
    background-color: var(--color-b6-w5);
    border-bottom: 2px solid var(--color-w6-b7);
    backdrop-filter: blur(8px);
}

.navbar__links {
    width: 100%;
    max-width: var(--size-container-3xs);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__links > .hyperlink {
    font-size: 18px;
    font-weight: 400;
    color: var(--color-w8-b9);
}

.navbar__links > p {
    margin: -2px 0.6rem 0 0.6rem;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    color: var(--color-w8-b9);
}