.hyperlink {
    padding: 0 0.2rem;
    transition: var(--hover-transition);
    font-size: 18px;
    color: var(--text-color);
    letter-spacing: 1px;
}

@media (hover: hover) {
    .hyperlink:hover {
        color: var(--hover-color);
    }
}
