.social-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.social-bar__content {
    width: 100%;
    max-width: 14rem;
    display: flex;
    justify-content: space-between;
    padding: 4px 1rem;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.social-bar__link {
    padding: 0.4rem;
    transition: all var(--transi-duration-normal);
    border-top: 1px solid var(--color-white-500);
    border-bottom: 1px solid var(--color-white-500);
}

@media (hover: hover) {
    .social-bar__link:hover {
        border-top: 1px solid var(--color-white-800);
        border-bottom: 1px solid var(--color-white-800);
    }
}

.social-bar__link > svg {
    font-size: 1.8rem;
}