.main-heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation-duration: 2s;
}

.main-heading hr {
    height: 1px;
    flex-grow: 1;
    flex-basis: 0;
    background-color: var(--border-color);
    border: none;
}

.main-heading > hr {
    margin-top: -2rem;
}

.main-heading__heading-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 calc(var(--heading-size) * 0.4);
}

.main-heading__flex {
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.main-heading__heading {
    font-size: var(--heading-size);
    font-weight: 600;
    line-height: 0.7;
    text-shadow: var(--text-shadow);
    color: white;
}

.main-heading__subheading {
    padding: 0 0.6em;
    font-size: var(--subheading-size);
    font-weight: 400;
    line-height: 1;
    text-shadow: var(--text-shadow);
    color: white;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}