.banner__container {
    width: 100%;
    height: calc(100vh - var(--chakra-space-28));

    padding: 0 2rem;

    color: var(--chakra-colors-whiteAlpha-900);

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_contentContainer {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner__name {
    font-size: var(--heading-2xl);
    font-weight: 600;

    letter-spacing: var(--chakra-letterSpacings-widest);

    text-align: center;
    line-height: 1;
}

.banner__sub {
    color: var(--red-alpha-1);

    font-size: var(--heading-md);
    font-weight: 400;

    line-height: 1;
    word-break: keep-all;
}

.banner__homeIntro {
    width: 100%;
    max-width: 36rem;

    margin: 2rem auto;
}

.banner__homeIntro > p {
    margin: 1rem 0;

    font-size: 1.125rem;
    line-height: 1.5;
    text-align: justify;
}

.banner__homeIntro > p:first-child {
    margin-top: 0;
}