.social {
    width: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: inherit;
    line-height: 1;
}

.social > svg {
    font-size: inherit;
    line-height: inherit;
}

.custom-link:hover {
    transform: var(--ui-transition-transform-md);
}