.navbarButton__container {
    font-size: 16px;
}

.navbarButton__container > a {
    transition-property: var(--chakra-transition-property-common);
    transition-duration: var(--chakra-transition-duration-fast);
    transition-timing-function: var(--chakra-transition-easing-ease-out);

    padding: var(--chakra-space-3);

    cursor: pointer;

    text-decoration: none;
    text-underline-offset: 4px;

    color: var(--chakra-colors-whiteAlpha-900);

    outline: 2px solid transparent;
    outline-offset: 2px;
}

.navbarButton__container > a:hover {
    text-decoration: underline;
}