.icon-hyperlink {
    padding: 0 0.2rem;
    transition: var(--hover-transition);
    font-size: inherit;
    line-height: 0;
    color: var(--text-color);
}

@media (hover: hover) {
    .icon-hyperlink:hover {
        color: var(--hover-color);
    }
}

.icon-hyperlink > svg {
    font-size: inherit;
}