.email-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    color: var(--color-white-900);
    transition: var(--transi-fast);
}

@media (hover: hover) {
    .email-button:hover {
        transform: var(--transi-transform-md);
        font-weight: 500;
        color: var(--primary);
        filter: var(--drop-shadow-base);
    }
}

.email-button > svg {
    margin-right: 0.6rem;
    font-size: var(--fontSize-4xl);
}

.email-button > p {
    padding-bottom: 4px;
    font-size: 16px;
    font-weight: inherit;
    border-bottom: 1px solid var(--primary);
}
