.email-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    color: var(--color-white-900);
    transition: var(--transi-fast);
}

@media (hover: hover) {
    .email-button:hover {
        transform: var(--transi-transform-md);
        font-weight: 500;
        color: var(--primary);
        filter: var(--drop-shadow-base);
    }
}

.email-button > svg {
    margin-right: 0.6rem;
    font-size: clamp(1.71rem, 1.62vw + 1.07rem, 2.37rem);;
}

.email-button > p {
    padding-bottom: 4px;
    font-size: clamp(0.75rem, 0.98vw + 0.61rem, 1rem);
    font-weight: inherit;
}
