.section-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 8rem 0;
    padding: 0 2rem;
    color: var(--color-white-900);
}

.section {
    width: 100%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 4px solid var(--secondary);
}

.section__title {
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -19px;
    margin-bottom: 2rem;
}

.section__title > h2 {
    padding: 0.5rem 1.25rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1;
    word-break: keep-all;
    background-color: var(--background);
    border: 3px solid var(--secondary);
    letter-spacing: 2px;
}

.section__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 1.8rem 2.5rem 1.8rem;
    text-align: justify;
}
