.section-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 4rem 0;
    color: var(--color-white-900);
}

.section {
    width: inherit;
    display: block;
    border-top: 1px solid var(--primary);
    box-shadow: var(--shadow-2xl);
}

.section__title {
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -18px;
}

.section__title > h2 {
    padding: 0.5rem 1.25rem;
    font-size: var(--fontSize-fluid-sub-heading);
    font-weight: 400;
    line-height: 1;
    word-break: keep-all;
    color: var(--primary);
    background-color: var(--background);
    border: 1px solid var(--primary);
}

.section__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 1.5rem 2.5rem 1.5rem;
    text-align: justify;
}
