.content {
    width: 100%;
    max-width: var(--size-container-md);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 4rem auto 0 auto;
    padding: 2rem 1.25rem;
}