.background {
    width: 100%;
    height: calc(100vh - var(--size-16));
    position: absolute;
    top: var(--size-16);
    left: 0;
    z-index: -1;
    background-color: var(--background);
    border: 1px solid red;
    overflow: hidden;
}