.background {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow-x: hidden;
}

.background-layer-container {
    width: inherit;
    height: inherit;
    position: relative;
    background-color: var(--parallax-background);
}

.background-layer {
    height: 100%;
    aspect-ratio: calc((16 / 9) * 4);
    position: absolute;
    top: 0;
    left: 0;

    background-position: left;
    background-size: auto 100%;
    background-repeat: repeat-x;

    animation-name: slideshow;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background .layer-1 {
    background-image: url("../../assets/background/06_Forest.webp");
    animation-duration: 45s;
}

.background .layer-2 {
    background-image: url("../../assets/background/05_Forest.webp");
    animation-duration: 40s;
}

.background .layer-3 {
    background-image: url("../../assets/background/04_Forest.webp");
    animation-duration: 30s;
}

.background .layer-4 {
    background-image: url("../../assets/background/03_Particles.webp");
    animation-duration: 15s;
}

.background .layer-5 {
    background-image: url("../../assets/background/02_Forest.webp");
    animation-duration: 20s;
}

.background .layer-6 {
    background-image: url("../../assets/background/01_Particles.webp");
    animation-duration: 10s;
}

@keyframes slideshow {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-25%);
    }
}