.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--color-black-400);
    border-top: 1px solid var(--border-color);
}

.footer__scroll-to-top-button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2rem;
}

.footer_scroll-to-top-button {
    font-size: 3rem;
    line-height: 1;
    background-color: var(--website-background);
    border: 1px solid var(--border-color);
}

.footer__social-bar-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2.4rem 0 2rem 0;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}

.footer__social-bar-container > p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    text-shadow: var(--text-shadow);
    color: var(--text-color);
    letter-spacing: 1px;
}

.footer__social-bar-container .social-bar {
    border: none;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.footer__credits-container {
    margin-bottom: 1.6rem;
}

.footer__credits-container > p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 2;
    color: var(--color-white-700);
    letter-spacing: 1px;
}