*,
::before,
::after {
    box-sizing: border-box;
    font-family: "Source Code Pro", monospace;
    margin: 0;
    padding: 0;
}

html {
    height: -webkit-fill-available;
}

body {
    background-color: black;

    /* Hide scrollbar */
    -ms-overflow-style: none; /* IE & Edge */

    /* Mobile 100vh fix */
    min-height: 100vh;
}

/* Hide scrollbar */
body::-webkit-scrollbar {
    display: none;
}

/* Mobile 100vh fix */
@supports (-webkit-touch-callout: none) {
    body {
      min-height: -webkit-fill-available;
    }
}