@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    font-weight: 200;
    word-wrap: break-word;

    color: var(--color-white-900);

    -webkit-tap-highlight-color: transparent;
}

html,
body {
    max-width: 100%;
    min-height: 100vh;
}

body {
    min-width: 320px;
    background-color: var(--background);
}