*,
::before,
::after {
    box-sizing: border-box;
    font-family: "MesloLGM NF", monospace;
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

body {
    background-color: #030E10;
    height: 100%;
}

.data-theme {
    /* Inherit for 100vh fix */
    height: inherit;
}