/* RCC: Reusable CSS classes */
/* Defined as BEM (rcc__elemPrecision) */

.rcc__squareBackground {
    background-image: url(../assets/col_background.png);
    background-position: center;
    background-repeat: repeat;
    background-size: 48px;
}
