:root {
    --website-background: #070A10;
    --header-parallax-backdrop: brightness(30%);

    --hover-color: rgba(255, 255, 255, 0.3);
    --border-color: rgba(255, 255, 255, 0.4);

    --text-shadow: 0 0 6px rgba(255, 255, 255, 0.4);

    --theme-transition: filter 300ms linear, background-color 300ms linear;
    --hover-transition: color 100ms linear;
}