.background-container {
    width: auto;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: hidden;
    z-index: -1;

    /* Used to fill empty space when resizing the window */
    background-color: var(--background);
}
