.footer {
    width: 100%;

    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer__container {
    width: 100%;
    max-width: var(--ui-sizes-xl);
    height: 100%;

    padding: var(--ui-sizes-6);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer__socials {
    width: var(--ui-sizes-56);
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 30px;
}

.footer__copyrights {
    margin-top: 1rem;

    text-align: center;

    font-size: var(--heading-xs);
    font-weight: 400;

    color: var(--ui-colors-whiteAlpha-400);
}
