.header {
    width: 100%;
    height: calc(100vh - var(--space-32));
    min-height: var(--size-container-sm);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 4rem;
    padding: 0 1.5rem;
    color: var(--color-white-800);
}

.header__heading {
    font-size: var(--fontSize-fluid-big-heading);
    font-weight: 500;
    line-height: 1;
    letter-spacing: var(--letterSpacing-widest);
    text-align: center;
}

.header__subheading {
    font-size: var(--fontSize-fluid-sub-heading);
    font-weight: 500;
    line-height: 1;
    word-break: keep-all;
    color: var(--primary);
}

.header__quick-word {
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.6rem;
    line-height: 1.5;
    background-color: var(--background-light);
    border-radius: var(--radii);
    box-shadow: var(--shadow-md);
    text-align: center;
}

.header__home-intro {
    width: 100%;
    max-width: var(--size-container-sm);
    margin: 2.6rem auto 0 auto;
    padding: 0 1rem 1rem 1rem;
}

.header__home-intro > p {
    font-size: var(--fontSize-fluid-home-intro);
}