.social {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    padding: 1rem 0;
    background-color: var(--div-background-color);
    box-shadow: var(--div-box-shadow);
}

.social__buttons {
    width: 100%;
    max-width: 24rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 4px;
    padding: 0 3rem;
}

.social__button {
    width: 2rem;
    transition: var(--transi-faster);
    color: rgba(255, 255, 255, 0.8);
}

.social__button-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: var(--font-size-sm);
}

.social__button-content > svg {
    margin-bottom: 0.3rem;
    font-size: var(--icon-sm);
    color: inherit;
}

@media (hover: hover) {
    .social__button:hover {
        color: white;
    }
}