.text-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 2rem;
    transition: var(--transi-fast);
    font-weight: 400;
    color: var(--color-white-900);
    background-color: rgba(var(--background-rgb), 0.1);
    border: 1px solid var(--secondary);
    border-radius: var(--radii);
    box-shadow: var(--shadow-md);
}

@media (hover: hover) {
    .text-button:hover {
        color: var(--primary);
        filter: var(--drop-shadow);
    }
}

.text-button > p {
    margin-left: 0.6rem;
    padding-bottom: 4px;
    font-size: 16px;
    font-weight: inherit;
}
