.scroll-to-top {
    margin-top: -2.4rem;
    padding: 0.25rem;
    color: var(--color-white-900);
    background-color: var(--background);
    border: 1px solid var(--primary);
    box-shadow: var(--shadow-md);
    transition: var(--transi-fast);
}

@media (hover: hover) {
    .scroll-to-top:hover {
        transform: var(--transform-md);
        color: var(--primary);
        filter: var(--drop-shadow-base);
    }
}

.scroll-to-top > svg {
    display: block;
    font-size: var(--fontSize-6xl);
}