.scrollToTop {
    padding: var(--size-1);
    color: var(--color-white-900);
    transition: var(--transi-fast);
}

@media (hover: hover) {
    .scrollToTop:hover {
        transform: var(--transi-transform-md);
        color: var(--primary);
    }
}

.scrollToTop > svg {
    display: block;
    transform: rotateZ(180deg);
    font-size: var(--size-16);
}