.scroll-to-top {
    width: 70px;
    height: 70px;
    margin-top: -2.6rem;
    padding: 0.25rem;
    transition: var(--transi-normal);
    color: var(--color-white-900);
    background-color: var(--background);
    border: 1px solid var(--primary);
    box-shadow: var(--shadow-md);
}

@media (hover: hover) {
    .scroll-to-top:hover {
        transform: var(--transform-md);
        color: var(--primary);
        filter: var(--drop-shadow);
    }
}

.scroll-to-top > svg {
    width: 90%;
    height: 90%;
}