.social-button {
    height: inherit;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem;
    transition: var(--transi-normal);
    color: var(--color-white-900);
}

@media (hover: hover) {
    .social-button:hover svg {
        transform: var(--transform-md);
        color: var(--primary);
        filter: var(--drop-shadow-base);
    }
}

.social-button > svg {
    width: 100%;
    height: 100%;
    display: block;
    transition: inherit;
}