.social-button {
    height: inherit;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem;
    transition: var(--transi-normal);
    color: var(--color-white-900);
    background-color: var(--background-sec);
    border: 1px solid var(--secondary);
    box-shadow: var(--shadow-md);
}

@media (hover: hover) {
    .social-button:hover {
        transform: var(--transform-md);
        color: var(--primary);
        filter: var(--drop-shadow);
    }
}

.social-button > svg {
    width: 100%;
    height: 100%;
    display: block;
}