.content {
    width: 100%;
    min-width: 320px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.content__title-container {
    border: 1px solid green;
}

.content__main-menu-container {
    width: 80%;
    max-width: 340px;
    border: 1px solid red;
}