.get-in-touch {
    width: 100%;
    max-width: var(--container-sm);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.get-in-touch p {
    text-align: center;
}

.get-in-touch .get-in-touch__available {
    margin-bottom: 2rem;
    padding: 0.4rem 0.8rem;
    font-size: var(--subheading-size);
    text-shadow: var(--text-shadow);
    color: white;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    letter-spacing: 1px;
}

.get-in-touch > a {
    margin-top: 2.4rem;
    padding: 0.4rem 1rem;
    transition: all var(--transi-duration-normal);
    border-top: 1px solid var(--color-white-500);
    border-bottom: 1px solid var(--color-white-500);
    outline: 1px solid var(--border-color);
    outline-offset: 4px;
}

@media (hover: hover) {
    .get-in-touch > a:hover {
        border-top: 1px solid var(--color-white-800);
        border-bottom: 1px solid var(--color-white-800);
    }
}