.contact {
    width: 100%;
    max-width: var(--size-container-2xs);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem;
}

.contact__mail {
    width: 100%;
    margin-bottom: 2rem;
}

.contact__on-the-web {
    width: 100%;
}

.contact__on-the-web-links {
    margin-top: 1.4rem;
}

.contact__on-the-web-links a:not(:last-child) {
    margin-bottom: 1rem;
}