.social-button {
    padding: 0.25rem;
    color: var(--color-white-900);
    transition: var(--transi-fast);
}

@media (hover: hover) {
    .social-button:hover {
        transform: var(--transi-transform-md);
        color: var(--primary);
        filter: var(--drop-shadow-base);
    }
}

.social-button > svg {
    display: block;
    font-size: var(--fontSize-4xl);
}