.social-button {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: var(--transi-fast);
    color: var(--color-white-900);
}

@media (hover: hover) {
    .social-button:hover svg {
        transform: var(--transform-md);
        color: var(--primary);
        filter: var(--drop-shadow-base);
    }
}

.social-button > svg {
    display: block;
}

.social-button > hr {
    width: 30%;
    height: 1px;
    margin-top: 8px;
    background-color: var(--primary);
    border: none;
}