.social-button {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white-900);
    transition: var(--transi-fast);
}

@media (hover: hover) {
    .social-button:hover svg {
        transform: var(--transform-md);
        color: var(--primary);
        filter: var(--drop-shadow-base);
    }
}

.social-button > svg {
    display: block;
    font-size: var(--fontSize-4xl);
}