.work__category-title {
    width: 100%;
    margin-bottom: 2rem;
    padding-left: 0.5rem;
    font-size: var(--fontSize-2xl);
    font-weight: 400;
    border-bottom: 2px solid rgba(var(--primary-rgb), 0.5);
}

.work__project-grid {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    list-style: none;
    gap: 1rem;
}

.work__project-grid:not(:last-child) {
    margin-bottom: 2rem;
}

@media (max-width: 1080px) {
    .work__project-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}