.navbar__button:not(:last-child) {
    margin-right: 0.6rem;
}

.navbar__button {
    transition: var(--transi-normal);
    color: var(--border-color);
}

.navbar__button-content {
    display: flex;
    flex-direction: column;
    margin: 0.4rem;
}

.navbar__button-content > svg {
    margin: 0.4rem 0.6rem;
    transform: rotate(45deg);
    font-size: clamp(2.4rem, 4vw, 3.6rem);
    color: inherit;
}

.navbar__button-active {
    color: white !important;
}

@media (hover: hover) {
    .navbar__button:hover {
        color: var(--hover-color);
    }
}