.navbar {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0 1rem 0;
    padding-top: clamp(1rem, 20vh, 2.4rem);
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.24) 36%);
}

.navbar__buttons {
    width: 100%;
    max-width: 28rem;
    height: inherit;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 3rem;
}

.navbar__button {
    width: 3rem;
    height: inherit;
    transition: var(--transi-faster);
    color: var(--border-color);
}

.navbar__button-content {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: var(--font-size-sm);
}

.navbar__button-content > svg {
    margin-bottom: 0.3rem;
    transform: rotate(45deg);
    font-size: var(--icon-md);
    color: inherit;
}

.navbar__button-active {
    color: white !important;
}

@media (hover: hover) {
    .navbar__button:hover {
        color: var(--hover-color);
    }
}