.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: clamp(2rem, 3vh, 3rem);
}

.navbar__buttons {
    width: 100%;
    max-width: 28rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 2rem;
}

.navbar__button {
    transition: var(--transi-faster);
    color: var(--border-color);
}

.navbar__button-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navbar__button-content > svg {
    margin-bottom: 0.6rem;
    transform: rotate(45deg);
    font-size: var(--icon-lg);
    color: inherit;
}

.navbar__button-active {
    color: white !important;
}

@media (hover: hover) {
    .navbar__button:hover {
        color: var(--hover-color);
    }
}