.app-parallax {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #DEFDFD;
    filter: brightness(50%);
    overflow-x: hidden;
    animation-name: appears;
    animation-timing-function: cubic-bezier(1, 0, 0.75, 0.5);
    animation-iteration-count: 1;
    animation-duration: 3s;
}

.app-parallax__layer {
    height: 100%;
    aspect-ratio: calc((16 / 9) * 4);
    position: absolute;
    top: 0;
    background-size: auto 100%;
    background-repeat: repeat-x;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.app-parallax .app-parallax__layer-1 {
    background-image: url("assets/background/mid-res/fallback/05.png");
    background-image: url("assets/background/mid-res/05.webp");
    background-image: image-set(url("assets/background/low-res/fallback/05.png") 2x,
            url("assets/background/mid-res/fallback/05.png") 1.5x,
            url("assets/background/high-res/fallback/05.png") 1x);
    background-image: image-set(url("assets/background/low-res/05.webp") 2x,
            url("assets/background/mid-res/05.webp") 1.5x,
            url("assets/background/high-res/05.webp") 1x);
}

.app-parallax .app-parallax__layer-2 {
    background-image: url("assets/background/mid-res/fallback/04.png");
    background-image: url("assets/background/mid-res/04.webp");
    background-image: image-set(url("assets/background/low-res/fallback/04.png") 2x,
            url("assets/background/mid-res/fallback/04.png") 1.5x,
            url("assets/background/high-res/fallback/04.png") 1x);
    background-image: image-set(url("assets/background/low-res/04.webp") 2x,
            url("assets/background/mid-res/04.webp") 1.5x,
            url("assets/background/high-res/04.webp") 1x);
}

.app-parallax .app-parallax__layer-3 {
    background-image: url("assets/background/mid-res/fallback/03.png");
    background-image: url("assets/background/mid-res/03.webp");
    background-image: image-set(url("assets/background/low-res/fallback/03.png") 2x,
            url("assets/background/mid-res/fallback/03.png") 1.5x,
            url("assets/background/high-res/fallback/03.png") 1x);
    background-image: image-set(url("assets/background/low-res/03.webp") 2x,
            url("assets/background/mid-res/03.webp") 1.5x,
            url("assets/background/high-res/03.webp") 1x);
}

.app-parallax .app-parallax__layer-4 {
    background-image: url("assets/background/mid-res/fallback/02.png");
    background-image: url("assets/background/mid-res/02.webp");
    background-image: image-set(url("assets/background/low-res/fallback/02.png") 2x,
            url("assets/background/mid-res/fallback/02.png") 1.5x,
            url("assets/background/high-res/fallback/02.png") 1x);
    background-image: image-set(url("assets/background/low-res/02.webp") 2x,
            url("assets/background/mid-res/02.webp") 1.5x,
            url("assets/background/high-res/02.webp") 1x);
}

.app-parallax .app-parallax__layer-5 {
    background-image: url("assets/background/mid-res/fallback/01.png");
    background-image: url("assets/background/mid-res/01.webp");
    background-image: image-set(url("assets/background/low-res/fallback/01.png") 2x,
            url("assets/background/mid-res/fallback/01.png") 1.5x,
            url("assets/background/high-res/fallback/01.png") 1x);
    background-image: image-set(url("assets/background/low-res/01.webp") 2x,
            url("assets/background/mid-res/01.webp") 1.5x,
            url("assets/background/high-res/01.webp") 1x);
}

@keyframes slidePrev {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(25%);
    }
}

@keyframes slideNext {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-25%);
    }
}

@keyframes appears {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}