.header {
    width: 100%;
    height: 100vh;
    min-height: var(--size-container-sm);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    transition: var(--theme-transition);
    color: var(--text-color);
    background-color: var(--header-background);
}

.header hr {
    height: 1px;
    flex-grow: 1;
    flex-basis: 0;
    background-color: var(--border-color);
    border: none;
}

.header__parallax-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: var(--theme-transition);
    filter: var(--header-parallax-backdrop);
}

.header__navbar-container {
    width: 100%;
    animation-duration: 1200ms;
}

.header__central-container {
    width: 100%;
}

.header__heading-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
    text-shadow: var(--text-shadow);
    animation-duration: 1200ms;
}

.header__heading-container > h2 {
    padding: 0 0.6em;
    font-size: clamp(14px, 4vw, 22px);
    font-weight: 400;
    line-height: 1;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}

.header__heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.6rem;
}

.header__heading > h1 {
    padding: 0 0.4em;
    font-size: clamp(34px, 10vw, 80px);
    font-weight: 400;
    line-height: 1.1;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}

.header__intro-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-duration: 1200ms;
}

.header__intro-container > hr {
    min-width: 2rem;
}

.header__intro {
    max-width: var(--size-container-2xs);
    padding: 0.4rem 1.4rem;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}

.header__intro > p {
    font-size: 1rem;
    color: var(--color-white-700);
    text-align: justify;
}

.header__social-bar-container {
    margin-bottom: 4rem;
    animation-duration: 3s;
}