.header {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background: var(--header-background-gradient);
    backdrop-filter: var(--parallax-backdrop-filter);
}