.header {
    width: 100%;
    height: 100vh;
    min-height: var(--size-container-sm);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    transition: var(--theme-transition);
    color: var(--text-color);
    background-color: var(--header-background);
}

.header hr {
    height: 1px;
    flex-grow: 1;
    flex-basis: 0;
    background-color: var(--border-color);
    border: none;
}

.header__parallax-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: var(--theme-transition);
    filter: var(--header-parallax-backdrop);
}

.header__navbar-container {
    width: 100%;
    animation-duration: 1400ms;
}

.header__central-container {
    width: 100%;
}

.header__heading-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    text-shadow: var(--text-shadow);
    animation-duration: 1200ms;
}

.header__heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__heading > hr {
    margin-top: -1em;
}

.header__heading-central {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header__heading-central > h1 {
    padding: 0 0.3em 0 0.36em;
    font-size: clamp(36px, 11vw, 80px);
    font-weight: 400;
    line-height: 1.2;
}

.header__subheading {
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__subheading > h2 {
    padding: 0 0.8em;
    font-size: clamp(16px, 4vw, 22px);
    font-weight: 400;
    line-height: 1;
    word-break: keep-all;
}

.header__intro-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    animation-duration: 1200ms;
}

.header__intro {
    max-width: var(--size-container-2xs);
    padding: 0.4rem 1.4em;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}

.header__intro > p {
    font-size: clamp(14px, 3vw, 16px);
    color: var(--color-white-700);
    text-align: justify;
}

.header__social-bar-container {
    margin-bottom: 5rem;
    animation-duration: 1200ms;
}