.link {
    transition-property: var(--ui-transition-property-common);
    transition-duration: var(--ui-transition-duration-fast);
    transition-timing-function: var(--ui-transition-easing-ease-out);

    padding: 0.5rem;

    cursor: pointer;

    font-weight: 400;
    text-decoration: none;
    text-underline-offset: 4px;

    color: var(--ui-colors-whiteAlpha-900);

    outline: 2px solid transparent;
    outline-offset: 2px;
}

.link:hover {
    color: var(--red-alpha-1);

    font-weight: 500;
    text-decoration: underline;
}