.section-container {
    width: 100%;
    min-height: var(--size-container-sm);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    margin: 4rem 0;
    color: var(--color-white-900);
}

.section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--primary);
    border-radius: 0.375rem;
    outline: 2px solid var(--secondary);
    outline-offset: -13px;
}

.section__title {
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}

.section__title > h2 {
    padding: 0 1.25rem;
    font-size: var(--fontSize-fluid-sub-heading);
    font-weight: 400;
    line-height: 1;
    word-break: keep-all;
    color: var(--primary);
    background-color: var(--background);
}

.section__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 1rem;
}