.section-container {
    width: 100%;
    height: 100vh;
    min-height: var(--size-container-sm);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: var(--size-16) 0;
    color: var(--color-white-900);
}

.section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--primary);
    border-radius: var(--radii-md);
    outline: 2px solid var(--secondary);
    outline-offset: -18px;
}

.section__title {
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}

.section__title > h2 {
    padding: 0 var(--size-5);
    font-size: var(--fontSize-fluid-sub-heading);
    font-weight: var(--fontWeight-normal);
    line-height: 1;
    word-break: keep-all;
    color: var(--primary);
    background-color: var(--background);
}

.section__content {
    width: 100%;
    padding: var(--space-5) var(--space-8);
}