.link {
    padding: 0.5rem;

    font-weight: 400;
    color: var(--ui-colors-whiteAlpha-900);

    outline: 2px solid transparent;
    outline-offset: 2px;

    cursor: pointer;
    text-decoration: none;
    text-underline-offset: 4px;
    transition-duration: var(--ui-transition-duration-fast);
    transition-property: var(--ui-transition-property-common);
    transition-timing-function: var(--ui-transition-easing-ease-out);
}

.link:hover {
    font-weight: 500;
    color: var(--red-alpha-1);
    text-decoration: underline;
}