.app-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--zIndex-docked);
    overflow: hidden;
}

.app-overlay__page {
    width: 100%;
    height: 100%;
    z-index: var(--zIndex-dropdown);
}

.app-overlay__bar {
    width: 100%;
    z-index: var(--zIndex-sticky);
}