.header-parallax {
    width: 100%;
    height: inherit;
    position: relative;
    background-color: #DEFDFD;
    filter: var(--header-parallax-filter);
    overflow-x: hidden;
}

.header-parallax__layer {
    height: 100%;
    aspect-ratio: calc((16 / 9) * 4);
    position: absolute;
    top: 0;
    left: 0;

    background-position: left;
    background-size: auto 100%;
    background-repeat: repeat-x;

    animation-name: slideshow;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.header-parallax .header-parallax__layer-1 {
    background-image: url("assets/background/mid-res/fallback/05.png");
    background-image: url("assets/background/mid-res/05.webp");
    background-image: image-set(
        url("assets/background/low-res/fallback/05.png") 2x,
        url("assets/background/mid-res/fallback/05.png") 1.5x,
        url("assets/background/high-res/fallback/05.png") 1x);
    background-image: image-set(
        url("assets/background/low-res/05.webp") 2x,
        url("assets/background/mid-res/05.webp") 1.5x,
        url("assets/background/high-res/05.webp") 1x);
    animation-duration: 60s;
}

.header-parallax .header-parallax__layer-2 {
    background-image: url("assets/background/mid-res/fallback/04.png");
    background-image: url("assets/background/mid-res/04.webp");
    background-image: image-set(
        url("assets/background/low-res/fallback/04.png") 2x,
        url("assets/background/mid-res/fallback/04.png") 1.5x,
        url("assets/background/high-res/fallback/04.png") 1x);
    background-image: image-set(
        url("assets/background/low-res/04.webp") 2x,
        url("assets/background/mid-res/04.webp") 1.5x,
        url("assets/background/high-res/04.webp") 1x);
    animation-duration: 50s;
}

.header-parallax .header-parallax__layer-3 {
    background-image: url("assets/background/mid-res/fallback/03.png");
    background-image: url("assets/background/mid-res/03.webp");
    background-image: image-set(
        url("assets/background/low-res/fallback/03.png") 2x,
        url("assets/background/mid-res/fallback/03.png") 1.5x,
        url("assets/background/high-res/fallback/03.png") 1x);
    background-image: image-set(
        url("assets/background/low-res/03.webp") 2x,
        url("assets/background/mid-res/03.webp") 1.5x,
        url("assets/background/high-res/03.webp") 1x);
    animation-duration: 40s;
}

.header-parallax .header-parallax__layer-4 {
    background-image: url("assets/background/mid-res/fallback/02.png");
    background-image: url("assets/background/mid-res/02.webp");
    background-image: image-set(
        url("assets/background/low-res/fallback/02.png") 2x,
        url("assets/background/mid-res/fallback/02.png") 1.5x,
        url("assets/background/high-res/fallback/02.png") 1x);
    background-image: image-set(
        url("assets/background/low-res/02.webp") 2x,
        url("assets/background/mid-res/02.webp") 1.5x,
        url("assets/background/high-res/02.webp") 1x);
    animation-duration: 30s;
}

.header-parallax .header-parallax__layer-5 {
    background-image: url("assets/background/mid-res/fallback/01.png");
    background-image: url("assets/background/mid-res/01.webp");
    background-image: image-set(
        url("assets/background/low-res/fallback/01.png") 2x,
        url("assets/background/mid-res/fallback/01.png") 1.5x,
        url("assets/background/high-res/fallback/01.png") 1x);
    background-image: image-set(
        url("assets/background/low-res/01.webp") 2x,
        url("assets/background/mid-res/01.webp") 1.5x,
        url("assets/background/high-res/01.webp") 1x);
    animation-duration: 15s;
}

@keyframes slideshow {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-25%);
    }
}