.header {
    width: 100%;
    height: calc(100vh - var(--ui-space-16));

    margin-bottom: 3rem;
    padding: 0 2rem;

    color: var(--ui-colors-whiteAlpha-900);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header__heading {
    font-size: var(--heading-2xl);
    font-weight: 600;

    letter-spacing: var(--ui-letterSpacings-widest);

    text-align: center;
    line-height: 1;
}

.header__subheading {
    color: var(--red-alpha-1);

    font-size: var(--heading-md);
    font-weight: 400;

    line-height: 1;
    word-break: keep-all;
}

.header__quickWord {
    width: 100%;
    max-width: var(--ui-sizes-container-sm);

    margin: 2.6rem 0;
    padding: var(--ui-space-4);

    font-size: var(--fontSize-xs);
    line-height: 1.5;
    text-align: center;

    background-color: var(--ui-colors-whiteAlpha-200);
    box-shadow: var(--ui-shadows-dark-lg);
    backdrop-filter: blur(4px);

    border-radius: var(--ui-radii-lg);
}

.header__homeIntro {
    width: 100%;
    max-width: 36rem;

    margin: 0 auto 2rem auto;
}

.header__homeIntro > p {
    margin: 1.5rem 0;

    font-size: var(--fontSize-md);
    font-weight: 200;
    line-height: 1.5;
    text-align: justify;
}

.header__homeIntro > p:first-child {
    margin-top: 0;
}

.header__homeIntro span {
    color: var(--red-alpha-1);
    font-weight: 400;
}
