.banner__container {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner__name {
    font-size: 8vw;
    letter-spacing: 3px;
    line-height: 0.75;
}

.banner__sectionContent {
    width: auto;
    max-width: 32rem;
    margin: 0 1.4rem;
    padding: 1.6rem 1.6rem;
    line-height: 1.2rem;
}

.banner__justMe {
    width: calc(20% + 28px);
    aspect-ratio: 1;

    margin-bottom: 1.6rem;

    background-image: url(../../assets/just_me.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    box-shadow: var(--box-shadow);
    border: 1px solid white;
    border-radius: 50%;

    z-index: 4;
}

@media screen and (min-width: 1200px) {
    .banner__name {
        font-size: 96px;
    }
}

@media screen and (max-height: 700px) {
    .banner__container {
        margin-top: 0.8rem;
        height: 700px;
    }
}