.header {
    width: 100%;
    height: calc(100vh - var(--space-48));
    min-height: var(--size-container-sm);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--color-white-900);
}

.header__heading {
    font-size: var(--fontSize-fluid-big-heading);
    font-weight: 500;
    line-height: 1;
    letter-spacing: var(--letterSpacing-widest);
    text-align: center;
}

.header__subheading {
    font-size: var(--fontSize-fluid-sub-heading);
    font-weight: 400;
    line-height: 1;
    word-break: keep-all;
    color: var(--primary);
}

.header__quick-word {
    width: fit-content;
    margin: 2.6rem auto 0 auto;
    padding: 1rem 1.6rem;
    font-size: var(--fontSize-fluid-sub-sub-heading);
    line-height: 1.5;
    background-color: var(--color-white-200);
    border-radius: var(--radii-lg);
    box-shadow: var(--shadow-md);
    text-align: center;
    backdrop-filter: blur(4px);
}

.header__home-intro {
    width: 100%;
    max-width: var(--size-container-sm);
    margin: 2.6rem auto 0 auto;
    padding: 0 1rem 1rem 1rem;
}

.header__home-intro > p {
    margin: 1.5rem 0;
    font-size: var(--fontSize-fluid-home-intro);
    font-weight: 200;
    line-height: 1.5;
    text-align: justify;
}

.header__home-intro > p:first-child {
    margin-top: 0;
}

.header__home-intro span {
    font-weight: 400;
    color: var(--primary);
}