.background-container {
    width: 100%;
    height: calc(100vh - var(--ui-sizes-16));

    position: fixed;
    top: 4rem;
    left: 0;

    overflow: hidden;
    z-index: -1;

    /* Used to fill empty space when resizing the window */
    background-color: var(--background);
}
